//COLORS

$color-bg: rgb(42, 57, 76);

$pink: rgb(249, 37, 114);
$green: rgb(120, 199, 186);
$lime-green: rgb(167, 226, 44);
$yellow: rgb(231, 219, 117);
$white: rgb(248, 249, 255);

$color-font-primary: rgb(248, 249, 255);
$color-font-secondary: rgb(231, 219, 117);

$color-heading-primary: rgb(249, 37, 114);
$color-heading-secondary: #a7e22c;
$color-heading-alternative: rgb(120, 199, 186);

$color-button-primary: #f92572;
$color-button-primary-hover: rgba(249, 37, 114, 0.2);
$color-social-primary: rgb(249, 37, 114);

$color-info-error-bg: rgb(249, 37, 114);
;
$color-info-success-bg: rgb(120, 199, 186);
$color-info-success: #032107;
$color-info-error: #210303;

//FONT STYLE

$font-headings: 'Chakra Petch', sans-serif;
$font-subtitles: 'Chakra Petch', sans-serif;
$font-body: 'Lora', serif;
$font-lexend: 'Lexend', sans-serif;

//BREAKPOINTS
// Desktop
$mobile: 640px;

// Tablet
$tablet: 768px;

// Desktop
$desktop: 1200px;